@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Noto+Serif+JP:wght@700&family=Raleway:ital,wght@0,300;0,500;0,700;1,400&family=Source+Code+Pro:wght@500&display=swap');

$bg-color: #222831;
$primary-color: #6b80a0;
$header-color: #3c4757;
$secondary-color: #30475e;
$tertiary-color: #3c4757;
$accent-color: #a4c3ef;
$accent-color2: #e7de5e;
$accent-color3: #4b5768;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: $bg-color;
  color: $primary-color;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
}

.home {
  height: 100vh;
}

nav {
  margin: calc(2.4vw + 0.5vw) 2.5vw 0;
  display: flex;
  justify-content: space-between;
  color: $tertiary-color;
  text-transform: uppercase;
  font-size: 1.3rem;
  animation: nav-animation 1200ms cubic-bezier(0.87, -0.12, 1, -0.14) 1;

  a {
    color: $accent-color3;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      color: $primary-color !important;
    }
  }

  a:visited,
  a:active {
    color: $accent-color3;
  }
}

@keyframes nav-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Noto Serif JP", serif;
  padding: calc(1.2rem + 0.5vw) 2.5vw 0;

  .h1-one,
  .h1-two,
  .h1-three {
    font-weight: 700;
    font-size: 12.27vw;
    letter-spacing: -0.7vw;
    line-height: 1.09;
    color: $header-color;
    text-transform: uppercase;
  }

  .h1-one {
    flex-grow: 2;
    animation: fade 250ms ease-in 1;

    span {
      font-family: "Raleway", sans-serif;
    }
  }

  .h1-two {
    flex-grow: 10;
    font-family: "Raleway", sans-serif;
    animation: fade2 1100ms ease-in 1 forwards;
  }

  .h1-three {
    flex-grow: 100;
    animation: fade 500ms ease-in 1;

    span {
      font-size: 11vw;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    color: $accent-color;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 8vw;

  .about-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 100vh;
    max-width: 82%;
    margin: auto;
    padding: calc(2vw + 0.5vw) 2.5vw;
    font-family: "Noto Sans JP", sans-serif;
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 500ms ease-in, transform 300ms ease-out;

    h2 {
      flex: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: calc(2rem + 0.5vw);
      margin: 1vw;
    }

    .container {
      max-height: fit-content;
      flex: 30%;
      margin: 1vw;

      h3 {
        text-align: center;
        font-weight: 300;
      }

      p {
        text-align: justify;
        word-wrap: break-word;
        padding: 1rem;
        font-size: 1rem;
        line-height: 2;
        color: $accent-color3;
      }
    }
  }

  .skill-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    font-size: calc(3em + 0.5vw);
    height: 100vh;
    padding: calc(2vw + 0.5vw);
    color: $header-color;
    opacity: 0;
    transition: 500ms opacity ease-in;

    table {
      height: calc(40vw + 0.5vw);
      width: calc(45vw + 0.5vw);
      text-align: center;
      cursor: default;

      .A {
        transition: 500ms 900ms color ease-in;
      }

      .B0 {
        transition: color 100ms 1100ms ease-in;
      }

      .B1 {
        transition: color 200ms 1200ms ease-in;
      }

      .B2 {
        transition: color 300ms 1300ms ease-in;
      }

      .B3 {
        transition: color 100ms 1400ms ease-in;
      }

      .B4 {
        transition: color 200ms 1500ms ease-in;
      }

      .B5 {
        transition: color 300ms 1600ms ease-in;
      }

      .B6 {
        transition: color 100ms 1700ms ease-in;
      }

      .B7 {
        transition: color 200ms 1800ms ease-in;
      }

      .B8 {
        transition: color 300ms 1900ms ease-in;
      }

      .B9 {
        transition: color 100ms 2000ms ease-in;
      }
    }
  }

  .projects-section {
    font-weight: 400;
    overflow: hidden;
    padding: calc(2vw + 0.5vw) 2.5vw;
    text-transform: uppercase;

    position: relative;

    opacity: 0;
    transition: 500ms opacity ease-in;

    h2 {
      font-size: calc(2rem + 0.5vw);
      margin: 2vw 0;
    }

    .projects {
      color: $tertiary-color;

      height: 100%;

      ul {
        border-top: 1px solid $tertiary-color;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
          position: relative;
          font-size: 6vw;
          font-weight: 400;
          border-top: 1px solid $tertiary-color;
          padding: 2vw 0;

          a {
            color: $tertiary-color !important;

            &:hover {
              color: $accent-color !important;
              cursor: pointer;
            }

            &:visited,
            &:active {
              color: $tertiary-color;
            }
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 1rem;
    padding: calc(2vw + 0.5vw) 2.5vw;
    color: $tertiary-color;

    p {
      color: $accent-color3;
      width: fit-content;
    }

    .accounts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: calc(90px + 0.5vw);

      .dp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;

        p {
          margin-bottom: 0.6rem;
        }

        img {
          width: 70%;
          opacity: 0.9;
          border-radius: 10px;
          box-shadow: 1rem 1rem $header-color;
        }
      }

      ul {
        li {
          font-weight: bold;
          font-size: calc(65px + 0.5vw);
          width: fit-content;
          white-space: normal;

          &:hover {
            color: $accent-color !important;
            text-decoration: underline !important;
          }

          a {
            color: $tertiary-color;
            white-space: nowrap;

            &:hover {
              color: $accent-color !important;
            }

            &:visited,
            &:active {
              color: inherit;
            }
          }
        }
      }
    }
  }
}

.fade-in.appear {
  opacity: 1;
  transform: rotateY(0);

  .A {
    color: $accent-color2;
  }

  .B1,
  .B2,
  .B3,
  .B4,
  .B5,
  .B6,
  .B7,
  .B8,
  .B9,
  .B0 {
    color: $primary-color;
  }
}

@media screen and (max-width: 768px) {
  .home {
    height: 95vw;

    header {
      .h1-two {
        font-size: 16.4vw;
      }
    }
  }

  main {
    gap: 16vw;
    justify-content: space-around;

    .projects-section {
      .projects {
        ul {
          li {
            font-size: 4rem;
          }
        }
      }
    }

    .skill-section {
      flex-direction: column-reverse;
      height: fit-content;
    }

    .about-section {
      margin-top: 15vw;
      flex-direction: column;
      width: 100%;

      .container {
        flex: 100%;

        p {
          font-size: 0.95rem;
        }
      }
    }

    footer {
      .accounts {
        flex-direction: column-reverse;
        gap: 30vw;

        .dp {
          justify-content: center;
          align-items: center;

          p {
            font-size: 0.7rem;
          }
        }

        ul {
          li {
            font-size: 3.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 424px) {
  header {
    margin: 3rem 0;
  }

  main {
    .skill-section {
      font-size: calc(2.8em + 0.5vw);
    }
  }
}
